*{
    box-sizing: border-box;
}
.register{
    width: 100%;
    height: 100vh;
    background-color: rgb(131, 127, 127);
    z-index: 1000;
}
.container1{
    width: 40%;
    background-color: yellowgreen;
    border-radius: 10px;
    margin: 10% auto;
    
}
#top1{
    display: flex; padding: 2px;
}
#title{
     width: 90%;padding: 5px;
}
#outbutton{
     width: 10%;background-color: red; padding: 5px;text-align: center;
     border-radius: 10px;
     text-decoration: none;
     color: black;
}
#infor{
    width: 50%;
    padding: 10px;
    background-color: yellow;
}
#infor input{
    border: 2px solid black; padding: 0px;
    border-radius: 10px;
    padding: 5px;
}
#infor2{
    width: 50%;
    background-color: aqua;
    padding: 10px;
}
#infor2 input{
    border: 2px solid black; padding: 0px;
    border-radius: 10px;
    padding: 5px;
}
#bottom{
    display: flex;list-style: none; text-align: center;justify-content: center;
    background-color: blue;
    margin: 0px;
    gap: 70px;
}
#bottom li{
    padding: 5px;
    border: 2px solid black;
    background-color: aqua;
    border-radius: 10px;
}
