#container_Mac{
    width: 80%;
    text-align: center;
    display: none;
    margin: 0 auto;
    margin-top: 58px;
}
#BigTitle_Mac{
    font-size: xx-large;
    color: red;
    border-top: 0.5px solid black;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
/* #captalog_mac{
    border: 2px solid black;
} */
#filter{
    display: flex;
    position: relative;
    border: 0.5px solid black;
}
.just_space{
    margin-left: 30px;
    cursor: pointer;
}
.just_space_right{
    margin-right: 30px;
    cursor: pointer;
}
#show_item{
    display: flex;
    flex-wrap: wrap;
}
.Mac_Item{
    width: calc(((83%)/3));
    margin: 30px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.item{
    width: 80%;
}
.name_Product{
    font-size: xx-large;
}
.price_Product{
    color: red;
    font-size: x-large;
}
.price_Product:hover{
    transform: scale(1.1);
}